{% extends 'base.html' %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="">
                    <img src="{{post.profile_image.url}}" class="img-responsive" alt="Image">
                </div>
                <div class="article-metadata">
                    <a class="mr-2" href="#"> {{ post.profile_name }}</a>
                </div>
                <div class="">
                    <img src="{{post.image.url}}" class="img-responsive" alt="Image">
                </div>
                <h2> <a class="article-title">{{ post.user }}</a></h2>
                <p class="article-content"> {{ post.image_caption }}</p>
                <small class="text-muted"> {{ post.timestamp|date:"F d, Y" }} </small>
            </div>
        </article>
    {% endfor %}
{% endblock %}